<footer class="sticky top-[100vh]">
    <p>Copyright &copy; 2024 Alex Cosmas</p>
    <div class="mt-4 -ml-2 flex">
      <a href="https://linkedin.com/in/alex-cosmas/" class="underline-none round-button ml-2"
        aria-label="Visit Alex's LinkedIn profile">
        {% include linkedin_svg.html %}
      </a>
      <a href="https://twitter.com/AlCosmas" class="underline-none round-button mx-2"
        aria-label="Visit Alex's Twitter profile">
        {% include twitter_svg.html %}
      </a>
    </div>
</footer>